<!DOCTYPE html>
{%autoescape None%}
<html>
	<head>
		<title>
			Unit Tester
		</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="Unit Tester will suit all your unit testing needs!" />
        <link href="{{static_url('style.css')}}" rel="stylesheet" type="text/css">
	</head>
	<body>

		<h1 id="title">
			<a href="index.html">Unit Tester</a>
		</h1>

		<form >
				
			<div id="selection">
				Select Function: <select name="function" size="1" id="function">
					{% for method in methods %}
                        <option value='{{method}}'>{{method}}</option>
		            {%end%}	
                    </select>

				<!-- action needs to be change according to the type-->
				<form id="post" onclick='send()'>
					<button name="add" type="button" value="add" onclick="addBlock()">Add</button>
				</form>


			</div>

			

			<div id="result">
				<!-- placeholder -->
			</div>
            <button value='run' type = 'button' onclick='send()'>Run</button>
		</form>

        <script src="{{static_url('jquery-2.1.0-min.js')}}"/></script>
        <script>
            var methods = {{json}}
            var ws = new WebSocket("ws://{{uri}}/pythonfuntime")
            ws.onmessage = function(message){alert(message.data)}
            function addBlock(){
                var append = "";
                var funct = methods[document.getElementById("function").value];
                append = append.concat('<div class="block '+document.getElementById("function").value+'">\n');
                append = append.concat('Function: ' + document.getElementById("function").value);
                append = append.concat('<form class="input '+document.getElementById("function").value+'">\n');
                for( i in funct[0]){
                    append = append.concat(funct[0][i]+': <input type="text" class="param ' + funct[0][i] + '"/>\n');
                }
                append = append.concat('Expected value: <input type="text" class="expected output"/>\n');
                append = append.concat('</form>');
                append = append.concat('<button onclick="closeBlock(this)" class="blockclose" type="button">x</button>');
                append = append.concat('</div>\n');
                $('#result').append(append);
                
            }

            function closeBlock(input){input.parentNode.remove()}

            function send(){
                var response = {}
                var interem = {}
                for(block in $.makeArray(document.getElementsByClassName("block"))){
                    var target = document.getElementsByClassName("block")[block]
                    var parameters = $.map(target.children[0].getElementsByClassName('param'), function(i){return i.value})  
                    eval('var interm = {"'+ target.getElementsByClassName('expected')[0].value + '" :['+ parameters + ']}')
                    eval('response.'+$(target)[0].classList[1] + '= interm')}
                ws.send(JSON.stringify(response))

            }
		</script>
	</body>

</html>
