<!DOCTYPE html>
{%autoescape None%}
<html>
	<head>
		<title>
			Unit Tester
		</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="Unit Tester will suit all your unit testing needs!" />
        <link href="{{static_url('style.css')}}" rel="stylesheet" type="text/css">
	</head>
	<body>

		<h1 id="title">
			<a href="index.html">Unit Tester</a>
		</h1>

		<form >
				
			<div id="selection">
				Select Function: <select name="function" size="1" id="function">
					{% for method in methods %}
                        <option value='{{method}}'>{{method}}</option>
		            {%end%}	
                    </select>

				<!-- action needs to be change according to the type-->
				<form id="post" onclick='send()'>
					<button name="add" type="button" value="add" onclick="addBlock()">Add</button>
				</form>


			</div>

			

			<div id="result">
				<!-- placeholder -->
			</div>

		</form>

        <script src="{{static_url('jquery-2.1.0-min.js')}}"/></script>
        <script>
            var methods = {{json}}
            var ws = new WebSocket("ws://{{uri}}/pythonfuntime")
            ws.onmessage = function(message){alert(message.data)}
            function addBlock(){
                var funct = methods[document.getElementById("function").value];
                $('#result').append('<div class="block">\n');
                $('#result').append('Function: ' + document.getElementById("function").value);
                $('#result').append('<form class="input">\n');
                for( i in funct[0]){
                    $('#result').append(funct[0][i]+': <input type="text" id="' + funct[0][i] + '"/>\n');
                }
                $('#result').append('</div>\n');
            }

		</script>
	</body>

</html>
